<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>트레이너 회원가입</h1>
    <form action='/signin' method='POST'>
    <table>
      <tr>
        <td>이메일주소 : </td>
        <td><input type="text" id="email" name="email" placeholder="이메일주소"></td>
      </tr>
      <tr>
        <td>이름 : </td>
        <td><input type="text" id="name" name="name" placeholder="이름"></td>
      </tr>
      <tr>
        <td>비밀번호 : </td>
        <td><input type="text" id="password" name="password" placeholder="비밀번호"></td>
      </tr>
      <tr>
        <td style="text-align:center" colspan="2"><input type="submit" value="회원가입" /></td>
      </tr>
    </table>
  </form>
  </body>
</html>
