<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h2>솝트몰</h2>
  <form action='/soptmall' method='POST'>
  <table>
    <tr>
      <td>이메일주소 : </td>
      <td><input type="text" id="email" name="email" placeholder="이메일주소"></td>
    </tr>
    <tr>
      <select id='name' name='name'>
      <option value='' selected>-- 선택 --</option>
      <option value='NEO_t_shirt'>NEO shirt</option>
      <option value='NEO_cap'>NEO cap</option>
    </select>
    </tr>
      <tr>
      <td style="text-align:center" colspan="2"><input type="submit" value="구매하기" /></td>
    </tr>
  </table>
</form>
  </body>
</html>
