<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>점수조회</h1>
    <form action='/student/check_score' method='GET'>
    <table>
      <tr>
        <td>학번 : </td>
        <td><input type="text" id="student_id" name="student_id" placeholder="학번"></td>
      </tr>
        <tr>
        <td style="text-align:center" colspan="2"><input type="submit" value="점수조회" /></td>
      </tr>
    </table>
  </form>
  </body>
</html>
