<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SOPT 20기</h1>
    아이디, 이름, 파트 <br>
    <%for(let i = 0; i<student.length; i++){%>
      <%=student[i].id%>, <%=student[i].name%>, <%=student[i].part%> <br>
    <%}%>
  </body>
</html>
